$black: #272727;
$white: #FFFFFF;
$gold: #D6B048;
$light-gray:#F2F2F2;
$violet:#C6ACD9;
$dark-violet:#632989;


$montserrat: Montserrat, sans-serif;
$roboto: Roboto, sans-serif;

// Разрешения экранов
$tablet: 1279px;
$phone: 779px;
