@import 'libs';
@import 'vars';
@import './_mixins.scss';
@import './_fonts';
@import 'generic';
// common styles

// common styles

.product-detail{
  font-family: 'Open Sans', sans-serif;
}
.product-detail h1{
  font-size: 46px;
  font-weight: 500;
  margin: 0 0 65px 0;
}


.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.card h3{
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 30px 0;
}

.card__info{
  display: grid;
  grid-template-columns: 47% 53%;
  grid-column-gap: 20px;
}

.card__param{
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: .3px;
  color: #1576d5;
  font-weight: 600
}

.card__param-value{
  letter-spacing: -.6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #707070;
  margin-bottom: 25px;
}
.card__desc{
  max-width: 850px;
}
.card__desc > *{
  font-size: 16px;
  line-height: 150%;
}
.card__img{
  max-height: 275px;
}
.card__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card__subtitle{
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 37px;
  font-weight: 600;
}
.card__tags{
  max-width: 900px;
}
.card__tags-item{
  display: inline-block;
  color: #242424;
  background-color: #f3f3f3;
  margin: 0 10px 10px 0;
  font-size: 18px;
  padding: 3px 30px;
  border-radius: 5px;
  text-decoration: none;
}
.card__tags-item:hover,:focus{
  color: #fff;
  background-color: #1576d5
}


@media (max-width: 1199px ) {
  .container{
    max-width: 960px;
  }
  .product-detail h1{
    font-size: 36px;
    margin: 0 0 30px 0;
  }
  .card h3{
    font-size: 26px;
    margin: 0 0 15px 0;
  }
  .card__param-value{
    font-size: 18px;
  }

}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .product-detail h1 {
    font-size: 30px;
  }
  .card h3 {
    font-size: 20px;
    letter-spacing: -.75px;
  }
  .card__info {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .card__img {
    max-height: 352px;
  }
  .card__subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .card__tags-item {
    font-size: 13px;
    padding: 3px 10px;
  }
}

@media (max-width: 767px) {
  .container{
    max-width: 540px;
  }
  h1{
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .container{
    max-width: 100%;
  }
}

// end common styles

@import 'imports';
