extends ~@templates/main-template

block vars
  - title = 'Главная'

block content
  .container
    section
      h1 Тара и упаковка для химической продукции
      .section.card

        .card__info
          div
            h3 Вагон-цистерна гуммированная
            .card__params
              .card__param вместимость
              .card__param-value 60-65 тонн
            .card__desc
              p Степень заполнения цистерны рассчитывают с учетом грузоподъемности цистерны и объемного расширения продукта при возможном перепаде температур в пути следования
          .card__img
            img(src="https://www.mpservices.ru/assets/thumbnails/51/5174fcb84a92c22c8f754c47c2260be4.png")
        .card__subtitle Подходит для транспортировки
        .card__tags
          a(href="#").card__tags-item Кислота соляная ингибированная
          a(href="#").card__tags-item Килсота фтористоводородная (плавиковая)
          a(href="#").card__tags-item Кислотный состав КСК-МПС
          a(href="#").card__tags-item Кислотный состав КСКТ-МПС
          a(href="#").card__tags-item Кислота фтористоводородная (Кислотный состав для терригенных коллекторов КСТ-МПС)
          a(href="#").card__tags-item Кислота соляная синтетическая техническая






